body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightblue;
}

h1 {
    font-size: 40px;
    background-color: chocolate;
    font-family: 'Courier New', Courier;
}

#game-container {
    display: inline-block;
    margin: 20px;
    border: 2px solid #333;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    display: inline-block;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #ddd;
}

.cell.revealed {
    background-color: #fff;
}

.cell.mine {
    background-color: red;
}

.cell.flag {
    background-color: yellow;
}